/***************************

preloader

***************************/
.trm-preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s ease-in-out;
}
$count: 10;
$time: 1.5;
$size: 45;

.preloader {
  /* size */
  width: $size + px;
  height: $size + px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}
@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 12%;
  height: 12%;
  background-color: $text;
  transform: translateX(-50%);
  border-radius: 50%;
}
@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }
  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }

    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }

    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }

    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }

    100% {
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
      opacity: 1;
    }
  }
}
/***************************

app marcup

***************************/
body {
  background-color: #00151F;
  overflow: hidden;
}

.trm-app-frame {
  border: solid 10px #00151F;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100vw;
  height: 100vh;
  background-color: $bg-2;
  box-shadow: 0 2px 4px -2px $shadow;
  transition: 0.4s ease-in-out;

  & .trm-hidden-switcher {
    display: none;
  }

  & .trm-content-start {
    margin: 0 40px;

    &:before {
      content: '';
      position: absolute;
      left: 30px;
      top: -8px;
      height: 8px;
      width: calc(100% - 60px);
      background-color: $bg;
      border-radius: 5px 5px 0 0;
      opacity: 0.3;
    }
  }

  & .trm-content {
    margin-top: -40px;
    padding: 0 0 60px;
    z-index: 0;
    position: relative;
    z-index: 1;
  }

  & .container {
    position: relative;
  }
}
@media (max-width: 992px) {
  body {
    background-color: $bg-2;
    overflow: auto;
  }

  .trm-app-frame {
    border: none;
    overflow: scroll;
    border-radius: 0;
    width: 100%;
    height: 100%;

    & .trm-content-start {
      margin: 0;
      z-index: 999;
    }

    & .trm-content {
      margin-top: 0;
      padding: 0 0 40px;
    }
  }
}
/***************************

top bar

***************************/
.trm-top-bar {
  position: fixed;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 $shadow;
  z-index: 9;
  background-color: $bg;
  width: 100%;
  height: 80px;

  &:after {
    content: '';
    position: absolute;
    left: 30px;
    height: 8px;
    width: calc(100% - 60px);
    background-color: $bg;
    border-radius: 0 0 5px 5px;
    opacity: 0.3;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .trm-left-side {
      height: 100%;
      display: flex;
      align-items: center;
      width: 30%;

      & .trm-logo-frame {
        display: flex;
        align-items: center;
        height: 80px;

        & .trm-logo-text {
          position: relative;
          font-weight: 900;
          font-size: 22px;
          color: $text;
          letter-spacing: 0;

          & span {
            color: $accent;
          }
        }

        & img {
          width: 100px !important;
        }
      }
    }

    & .trm-right-side {
      height: 100%;
      display: flex;
      align-items: center;
      width: 70%;
      justify-content: flex-end;
    }
  }
}
@media (max-width: 1200px) {
  .trm-top-bar {
    border-radius: 0;

    & .container {
      & .trm-right-side {
        border-radius: 0 0 10px 10px;
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
        background-color: $bg;
        position: absolute;
        z-index: -1;
        top: 80px;
        left: 0;
        height: auto;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 2px 4px 0 $shadow;
        transform: translateY(20px);
        transition: 0.4s ease-in-out;

        &.trm-active {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }
  }
}
/***************************

menu

***************************/
.trm-menu {
  margin-right: 10px;

  & nav {
    & ul {
      display: flex;
      margin: 0;
      padding: 0;

      & li {
        height: 80px;
        position: relative;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          border-radius: 10px;
          height: 4px;
          width: 0;
          background-color: $accent;
          transition: 0.4s ease-in-out;
        }

        &.current-item,
        &.current-menu-item {
          &:after {
            width: 100%;
          }
        }

        & a {
          white-space: nowrap;
          height: 100%;
          width: 100%;
          padding: 0 20px;
          line-height: 80px;
          color: $text;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 2px;
          font-weight: 700;
          transition: 0.4s ease-in-out;

          &:hover {
            color: $accent;
          }
        }

        & ul {
          padding: 10px;
          pointer-events: none;
          background-color: $bg;
          opacity: 0;
          transform: translateY(20px);
          height: auto;
          top: 80px;
          left: -10px;
          border-radius: 0 0 10px 10px;
          box-shadow: 0 2px 4px -2px $shadow;
          min-width: 130px;
          position: absolute;
          z-index: 9;
          display: flex;
          flex-direction: column;
          transition: 0.4s ease-in-out;

          & li {
            height: 50px;
            margin: 0;
            justify-content: flex-start;

            &:after,
            &:before {
              display: none;
            }

            & a {
              line-height: 50px;
            }
          }
        }

        &:hover {
          & ul {
            pointer-events: all;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .trm-menu {
    text-align: center;
    margin: 0;
    width: 100%;

    & nav {
      width: 100%;

      & ul {
        margin: 20px 0;
        flex-direction: column;

        & li {
          width: 100%;
          height: auto;
          display: block;

          &:after {
            display: none;
          }

          & a {
            height: 50px;
            line-height: 50px;
          }

          &.menu-item-has-children {
            a {
              pointer-events: none;
            }

            & ul {
              & li {
                & a {
                  pointer-events: all;
                }
              }
            }
          }

          &.current-menu-item {
            & a {
              color: $accent;
            }

            & ul {
              & li {
                a {
                  color: $text;
                }
              }
            }
          }

          & ul {
            border-radius: 0;
            margin: 0;
            background-color: $bg-2;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
            position: relative;
            overflow: hidden;
            opacity: 1;
            transform: none;
            margin: 0;
            pointer-events: all;
            max-height: 0;
            box-shadow: inset 0 0 4px -1px $shadow;
          }

          &:hover {
            & ul {
              max-height: 300px;
            }
          }
        }
      }
    }
  }
}
/***************************

mobile menu button

***************************/
.trm-menu-btn {
  transform: scale(1.3);
  margin-top: 2px;
  padding: 8px 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  justify-content: center;
  text-align: center;

  & span,
  & span:after,
  & span:before {
    content: "";
    display: block;
    width: 15px;
    height: 0.15em;
    border-radius: 1px;
    background: $text;
    backface-visibility: hidden;
    transition: 0.4s ease-in-out;
  }

  & span {
    position: relative;
    margin: 5px 0 0;

    &:after,
    &:before {
      position: absolute;
    }

    &:before {
      top: -5px;
    }

    &:after {
      top: 5px;
    }
  }

  &.trm-active {
    & span {
      transform: rotate(45deg);

      &:before {
        transform: translate(0px, 5px) rotate(-90deg);
      }

      &:after {
        transform: translate(0px, -5px) rotate(-90deg);
      }
    }
  }
}
@media (max-width: 1200px) {
  .trm-menu-btn {
    display: flex;
  }
}
/***************************

mode switcher

***************************/
.trm-mode-switcher-place {
  & .trm-mode-switcher {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      margin: 0 7px;
      font-size: 12px;
    }

    & .tgl {
      display: none;

      &,
      & *,
      & *:after,
      & *:before,
      & + .trm-swich,
      &:after,
      &:before {
        box-sizing: border-box;

        &::selection {
          background: none;
        }
      }

      + .trm-swich {
        outline: 0;
        display: block;
        width: 45px;
        height: 23px;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
        }

        &:after {
          left: 0;
        }

        &:before {
          display: none;
        }
      }

      &:checked + .trm-swich:after {
        left: 50%;
      }
    }

    & .tgl-light {
      + .trm-swich {
        margin-bottom: 0;
        box-shadow: inset 0 0 4px -1px $shadow;
        background: $bg-2;
        border-radius: 2em;
        padding: 2px;
        transition: 0.4s ease-in-out;

        &:after {
          width: 47%;
          border: solid 3px $accent;
          border-radius: 50%;
          background: $bg;
          transition: all 0.2s ease;
        }
      }

      &:checked + .trm-swich {}
    }
  }
}

.trm-mode-swich-animation-frame {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;

  &.trm-active {
    opacity: 1;
  }

  & .trm-mode-swich-animation {
    margin-bottom: 40px;
    width: 80px;
    height: 55px;
    position: relative;
    overflow: hidden;
    text-align: center;

    &:before {
      content: '';
      height: 1px;
      width: 120%;
      border-bottom: dotted 5px $text;
      position: absolute;
      z-index: 9;
      bottom: 0;
      left: -10%;
    }

    & .fa-sun {
      position: absolute;
      z-index: 0;
      top: 0;
      font-size: 32px;
      margin-left: -15px;
      opacity: 1;
      color: $text;
      transition: 0.6s ease-in-out;
    }

    & .fa-moon {
      position: absolute;
      z-index: 0;
      top: 0;
      font-size: 32px;
      margin-left: -15px;
      color: $text;
      opacity: 0;
      transform: translateY(70px) rotate(0);
      transition: 0.6s ease-in-out;
    }

    &.trm-active {
      & .fa-sun {
        transform: translateY(70px) rotate(360deg);
        opacity: 0;
      }

      & .fa-moon {
        transform: translateY(0) rotate(360deg);
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1200px) {
  .trm-mode-switcher {
    margin: 0 0 40px 0 !important;
  }
}
