$accent: #AFB42B;
$accent-2: #C0CA33;

$text: #00283A;
$text-2: #7B7B7D;

$bg: #FCFCFE;
$bg-2: #F4F5F7;

$title: rgba(252,252,254,1);

$divider: rgba(225,225,235,.9);

$shadow: rgba(0,0,0,.15);

.trm-white-icon {
  display: none;
}

.trm-logo-text {
  color: $text;
}
