/* -------------------------------------------

Name: 		Trueman
Version:  1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */
/*--------------------------------------------

1. common
      - fonts
      - typography
      - button
      - form
      - scroll animation
      - page transition
      - spaces
2. frame
      - preloader
      - app marcup
      - top bar
      - menu
      - mobile menu button
      - mode switcher
3. content
      - banner
      - main card
      - counters
      - video
      - icon box
      - skills
      - portfolio
      - price
      - testimonials
      - timeline
      - contact form
      - blog
      - pagination
      - subscribe
      - footer
      - popup
4. custom
      - fancybox
      - locomotive scroll

--------------------------------------------*/
@import 'variables-dark';
@import 'frame';
@import 'common';
@import 'content';
@import 'custom';
